CONFIG_UNITY_ENABLE_FIXTURE=y
CONFIG_APP_REPRODUCIBLE_BUILD=y
# CONFIG_APP_COMPILE_TIME_DATE is not set

# Custom partition table with storage partition (required for key_manager tests)
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
